body {
  background-color: lightgoldenrodyellow;
}

.product-img {
  max-width: 50%;
  max-height: 50%;
  flex-basis: 33.33333%;
}

.carrot-cake {
  border: 2px solid black;
  text-align: center;
}

.product-availability {
  width: 100%;
  background-color: darkgray;
  color: yellow;
}

header {
  border: 1px solid lightblue;
  text-align: center;
}

#app {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
