body {
  background-color: lightgoldenrodyellow;
}

.product-img {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  max-height: 50%;
  /* flex-basis: 33.33333%; */
}

.product-availability {
  width: 100%;
  background-color: darkgray;
  color: yellow;
}

.product-description {
  font-size: 21px;
  text-align: center;
}

header {
  border: 1px solid lightblue;
  text-align: center;
}

#app {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  /* flex: 0 0 33.333333%; */
}

.product-display {
  flex: 0 0 33.333333%;
}
